* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.__img {
    object-fit: cover;
}

.__b_radius{
    border-radius: 100%;
}

.__btn {
    background: $primary-color;
    color: $white-color;
    border-radius: 6px;
}
.__btn:hover {
    background: $primary-color;
    color: $white-color;
    border-radius: 6px;
    opacity: .8;
}

.button {
    $height: 40px;
    height: $height;
    margin: 0 10px;
    outline: none;
    border-radius: $height - $height / 2;
    border: none;
    background: $primary-color;
}
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .header {
        display: none !important;
    }
    .moblie {
        display: block !important;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .header {
        display: none !important;
    }
    .moblie {
        display: block !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .header {
        display: none !important;
    }
    .moblie {
        display: block !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .header {
        display: flex !important;
        .menu-item{
            display: none;
        }
        i{
            padding: 10px !important;
        }
        li:hover .menu-item{
            display: inline;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .header {
        display: flex !important;
        .menu-item{
            display: inline;
        }
    }
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track{
    background: #ccc;
}

body::-webkit-scrollbar-thumb{
    background: $primary-color;
    border-radius: .25rem;
    box-shadow: 0px 2px 5px #aaaaaa;
}