.dialog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
    
        to {
            top: 0;
            opacity: 1;
        }
    }
    
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
    
        to {
            top: 0;
            opacity: 1;
        }
    }
    .dialog-content {
        position: relative;
        background-color: #fff;
        margin: auto;
        margin-top: 200px;
        width: 600px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 1s;
        animation-name: animatetop;
        animation-duration: 1s;
        border-radius: 6px;

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .dialog-header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            .close {
                // color: white;
                // float: right;
                // font-size: 28px;
                // font-weight: bold;
            }
        }

        .dialog-body {
            padding: 10px;
        }

        .dialog-footer {
            text-align: right;
            padding: 10px;
            border-top: 1px solid #ccc;
            color: white;
        }
    }
}
